/* Container */
.palette {
    /* fallback vars */
    --palette-height: 150px;
    --palette-direction: row;
    --not-palette-direction: row;
    --palette-background-color: transparent;
    --palette-color: #000;
    --palette-column-flex-basis: 20px;
    --notice-duration: 2.5s;
    
    display: flex;
    flex-direction: var(--palette-direction);
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    height: var(--palette-height);
}

.palette-pulse {
    animation: pulse var(--notice-duration) infinite;
    transform: scale(1);
    border: transparent 1px solid;
}

@keyframes pulse {
    50% {
        background-color: #FFFF0080;
    }
}

/* Child */
.palette > div {
    display: flex;
    flex: 1;
    flex-basis: 0px;
    flex-direction: var(--not-palette-direction);
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease-in-out;
    background-color: var(--palette-background-color);
    gap: 3%;
}

.palette > canvas {
    position: relative;
    transition: all 0.1s ease-in-out;
    object-fit: contain;
}

.palette > canvas.gradient {
    background: linear-gradient(to right, var(--palette-background-color));
}

.palette.paletteColumn > div:hover {
    flex-basis: var(--palette-column-flex-basis);
}

.palette:not(.paletteColumn) > div:hover {
    flex-basis: 80px;
}

.palette > div:hover > span {
    display: block;
}

/* Child Text */
.palette > div > span {
    display: none;
    text-align: center;
    font-size: 100%;
    font-weight: bold;
    color: var(--palette-color);
}

.palette-tooltip {
    position: absolute;
    display: none;
    background: #000000C0;
    width: max-content;
    min-width: 100px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    font-size: 100%;
}

.palette > canvas:hover ~ .palette-tooltip {
    display: flex;
    align-items: center;
    justify-content: center;
}

.palette > .invalid {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--palette-height);
    width: 100%;
    background-color: #000000C0;
    border-radius: 5px;
}

.palette > .invalid > span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #000;
    width: 100%;
    height: 30%;
    text-align: center;
}

/* Container */
.create-palette {
    --selected-colors-display: none;
    --trash-background-color: #000000;
    --trash-color: #ffffff;
}

.create-palette > .or-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-palette > .or-container > span {
    font-weight: bold;
}

.color-picker-container {
    border-top: none;
}

.color-picker {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

/* Selected Colors Container */
.color-picker > div {
    display: var(--selected-colors-display);
    flex-direction: column;
    width: 100%;
    margin-top: 5%;
}

/* Colors Container */
.color-picker > div > div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 8px 0;
    gap: 8px;
}

.color-picker > div > div > span {
    padding: 2%;
}

.color-picker > div > div > .color-span-editable {
    border-width: 2px;
    border-style: solid;
}

/* Color Trash Button */
.color-picker > div > div > button {
    background-color: var(--trash-background-color);
    color: var(--trash-color);
}